// https://icolorpalette.com/color/greyish-purple#google_vignette
//#813FA4 bg chat

.main-container {
    height: 100vh;
    background-color: #f5f3f6;

    .row {
        height: 100%;

        .navBar {
            background-color: #cec5d2;
            height: 100% !important;
        }

        .rightSection {
            height: 100%;
            overflow-y: hidden;

            .msg-area-component {
                height: calc(100vh - (70px + 100px));
                overflow-y: auto;
                margin-bottom: 10px !important;

                .msgsArea {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 36px;

                    .msg-box-component {
                        display: flex;
                        justify-content: center;
                    }
                }

                .human-msg {
                    margin-left: 45px;
                }
            }

            .inputTextBox {
                display: flex;
                justify-content: center;

                .textarea {
                    width: 895px;
                    padding: 14px 104px 14px 14px;
                    border: transparent;
                    background: #e9e5eb;
                    border-radius: 15px;
                    max-height: 200px !important;
                    overflow-y: auto;
                }

                .textarea:focus-visible {
                    outline: none;
                    border: none !important;
                }

                .img-upload-div {
                    display: flex;
                    align-items: center;
                    position: relative;
                    right: 49px;
                    cursor: pointer;
                    transition: right 0.3s ease;

                    .image-upload {
                        width: 34px !important;
                        height: 36px !important;
                    }

                    &.shift-left {
                        right: 117px;
                    }
                }

                input {
                    display: none;
                }

                .send-icon {
                    display: flex;
                    align-items: center;
                    position: relative;
                    right: 5.5%;
                    color: #916da0;
                    font-size: 34px;
                    cursor: pointer;
                }
            }

            .disclaimer {
                display: flex;
                justify-content: center;
                padding-top: 7px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 17.015rem;
                letter-spacing: 0.01rem;
            }

            .poweredBy {
                position: absolute;
                right: 0;

                img {
                    width: 67px;
                    margin-top: -5px;
                    margin-right: 23px;
                }
            }
        }
    }
}

.text-font{
    font-size: 1.09rem;
    line-height: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.003rem;
}