<div class="main-container">
     <div class="wrapper">
          <h4 class="sign-in">Sign In</h4>
          <div class="button">
               <div id="g_id_onload"
                    data-client_id="clientId"
                    data-context="signup" data-ux_mode="popup" data-auto_select="true" data-itp_support="true">
               </div>
               <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline"
                    data-text="signin_with" data-size="large" data-logo_alignment="left">
               </div>
          </div>
          <div *ngIf="loader" class="dot-falling"></div>
     </div>
</div>