@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


body{
    margin: 0px !important;

    .hljs{
        background-color: black !important;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
